/* CSS files add styling rules to your content */
.header{
  background-color: #40407A;
  padding: 50px;
}

.header-text{
  color: white;
  font-family: 'Roboto, sans-serif';
  font-size: 50px;
  text-align: center;
}

.profile-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-family: 'Roboto, sans-serif';
  justify-content: center;
}

.profile{
  margin: 3em;
  font-size: 20px
}

.subheader-text{
  color: white;
  font-family: 'Poppins, sans-serif';
  text-align: center;
}
