/* CSS for brendan.html. You can use this as a template for any styles you like! */

body{
  margin: 0;
}


.description-container{
  font-family: 'Poppins', san-serif;
  
}

.header{
  /* creating the parallax effect for the header */
  background-attachment: fixed;
  background-image: url("https://cdn.glitch.com/655b3491-e8e1-48f4-b593-f9ed911f67bc%2Fgeisel-bg.jpg?v=1570760777123");
  background-color: #4FA8B6;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
  /* setting styles for the text in the header */
  color: white;
  display: flex;
  font-family: 'Poppins', san-serif;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  height: 100vh;
}

.d{
  /* set the margins of the description text*/
  margin-left: 200px;
  margin-right: 200px;
  padding: 0 100px;
  height: 100vh;
  
  /* to align elements vertically and horizontally */
  text-align: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.parallax{
  /* create the parallax effect of the middle image */
  background-image: url("https://cdn.glitch.com/655b3491-e8e1-48f4-b593-f9ed911f67bc%2Fgeisel.jpg?v=1570761776514");
  height: 100vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.scroll{
  opacity: 0;
}

