/* CSS for test.html */
body{
  opacity: 1;
  transition: 0.7s opacity;
}

body.fade{
  opacity: 0;
  transition: none;
}

.header{
  display: flex;
  font-family: 'Poppins', san-serif;
  flex-direction: column;
  justify-content: center;
  padding: 100px;
  text-align: center;
}

.description{
  font-family: 'Poppins', san-serif;
  justify-content: center;
  padding: 100px;
  text-align: center;
}

