/* CSS for test.html */
body{
  margin: 0;
  opacity: 1;
  transition: 0.7s opacity;
}

body.fade{
  opacity: 0;
  transition: none;
}

.description-container{
  font-family: 'Poppins', san-serif;
  
}

.header{
  background-attachment: fixed;
  background-color: #4FA8B6;
  color: white;
  display: flex;
  font-family: 'Poppins', san-serif;
  flex-direction: column;
  justify-content: center;
  padding: 85px;
  text-align: center;
  height: 100vh;
}

.interest{
  
}

.d{
  margin-left: 200px;
  margin-right: 200px;
  padding: 0 100px;
  height: 100vh;
  /* to align elements vertically and horizontally */
  text-align: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.p{
  background-image: url("https://cdn.glitch.com/655b3491-e8e1-48f4-b593-f9ed911f67bc%2Fgeisel-bg.jpg?v=1570760777123");
  height: 100vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

